$color-blue-1: #2a73dd;
$color-blue-2: #1d365e;
$color-blue-3: #e2ebfc;
$color-dark-1: #656774;
$color-yellow-1: #f9d412;
$color-white-1: #fff;
$color-white-2: #f5f9fe;
$color-white-3: #e2ebfc;
$color-white-4: #c9d8f4;

// cách 1
// :root {
//   --primary-color: #302ae6;
//   --secondary-color: #536390;
//   --font-color: #424242;
//   --bg-color: #fff;
//   --heading-color: #292922;
// }

// body.dark {
//   --primary-color: #9a97f3;
//   --secondary-color: #818cab;
//   --font-color: #e1e1ff;
//   --bg-color: #161625;
//   --heading-color: #818cab;
// }
